body {
  font-size: 16px;
  color: #fff;
  background-color: #c2d6d6;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #c2d6d6;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: Comic Sans MS, sans-serif;
  color: #e6b3b3;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

h2 { /* Our Menu */
  text-transform: capitalize;
  margin-top:25px;
  font-size: 4em;
}

#main-content {
  padding-top: 30px;
  height: 1000px;
}

.menu-title1, .menu-title2, .menu-title3 {
  font-size: 2em;
  font-weight: bold;
}

#chicken1, #beef1, #sushi1 {
  background-color: #cc99ff;
  border: 2px black solid;
  padding: 20px;
  width: 80%;
  margin: auto;
  font-size: 1em;
  margin-bottom: 30px;
  color: black;
}

.chicken-c, .beef-c, .sushi-c {
  text-align: justify;
}
